* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.cell {
  flex: 1;
}

#grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 820px;
  margin: auto;
}

#grid .cell {
  min-width: 180px
}

#lab {
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
  margin: auto;
}

#lab .cell {
  min-width: 120px
}

.movie-poster {
  background-repeat: no-repeat;
  border: 1px;
  height: 16em;
}

.movie-chiclet {
  background-position: top;
  background-repeat: no-repeat;
  height:8em;
}

.no-selection {
  height: 16em;
  background-color: #ffdddd;
  border: 1px #000000;
}