<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="/static/style.css">
<script type='text/javascript' src='/static/underscore-min.js'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/1.4.5/numeral.min.js"></script>
<script type='text/javascript'>
table = {{ lookup|tojson|safe }}

function m(w, dep) {
  if (w <= 0) {
    return [[], (8 - dep) * -2000000]; // empty screens have a -2MM penalty
  } else if (dep === 8) {
    return [[], 0];
  } else {
    var maxval = 0;
    var rst_picks = [];
    _.each(table, function(value, key, list){
      if ( value['cost'] > w ) {
        return;
      }
      var rst = calculate(w - value['cost'], dep+1);
      var picks = rst[0];
      var pick_value = rst[1];
      var tmp = value['proj'] + pick_value;
      if (tmp > maxval) {
        maxval = tmp;
        rst_picks = ([key]).concat(picks);
      }
    });
    return [rst_picks, maxval];
  }
}

var calculate = _.memoize(m, function(w, d){
  return [w, d].join(':');
});

function recalculate() {
  $("#grid").empty();

  calculate.cache = {};

  var rst = calculate(1000, 0);

  _.each(rst[0], function(el, i, list) {
    $("#grid").append("<div style='background-image:url(\""
      + table[el]['poster'] + "\")' class='grid-cell movie-poster'></div>");
  });

  for (var i = rst[0].length; i < 8; i++) {
    $("#grid").append("<div class='grid-cell no-selection'><h1>-$2m</h1></div>")
  }

  $("#value").text(numeral(rst[1]).format('($ 0.00 a)'));
}

$(function() {
  recalculate();

  _.each(table, function(value, key, list) {
    var _key = value.id;
    $("#" + _key + "-slider").slider({
      orientation: "horizontal",
      range: "min",
      min: value['proj'] * 0.5,
      max: value['proj'] * 1.5,
      value: value['proj'],
      slide: function( event, ui) {
        $("#" + _key + "-amount").val( numeral(ui.value).format('($ 0.00 a)') );
      },
      stop: function( event, ui) {
        value['proj'] = ui.value;
        recalculate();
      }
    });
    $( "#" + _key + "-amount" )
    .val( numeral($("#" + _key + "-slider").slider("value")).format('($ 0.00 a)') )
    .keypress(function (e) {
      if (e.which == 13) {
        var newv = numeral().unformat($(e.target).val());
        list[key]['proj'] = newv;
        $(e.target).val(numeral(list[key]['proj']).format('($ 0.00 a)'));
        $("#" + _key + "-slider")
        .slider("option", "value", newv)
        .slider("option", "min", newv * 0.5)
        .slider("option", "max", newv * 1.5);
        recalculate();
      }
    });
  });
});
</script>

<div id="lab">
  {% for item in lookup %}
  <div id="{{ lookup[item].id }}-group" class="slidergroup">
    <div id="{{ lookup[item].id }}-poster" style="background-image:url('{{ lookup[item]['poster'] }}')" class="movie-chiclet"></div>
    <div id="{{ lookup[item].id }}-slider"></div>
    <p>
      <label for="{{ lookup[item].id }}-amount">Projection: </label>
      <input type="text" id="{{ lookup[item].id }}-amount" style="border:0; color:#f6931f; font-weight:bold;">
    </p>
  </div>
  {% endfor %}
</div>

<div id="grid">
</div>

<h1 id="value"></h1>
